@model PaginacionRespuesta

@{
    var plantillaLink = string.Concat(Model.BaseURL, "?pagina={0}&recordsPorPagina={1}");
}

<nav>
    <ul class="pagination">
        @if(Model.Pagina > 1){
            <li class="page-item">
                <a class="page-link" href="@string.Format(plantillaLink, Model.Pagina - 1, Model.RecordsPorPagina)">
                    Anterior
                </a>
            </li>
        }
        else
        {
            <li class="page-item">
                <span class="page-link">
                    Anterior
                </span>
            </li>
        }
        @for(var pagina = 1; pagina <= Model.CantidadTotalDePaginas; pagina++)
        {
            <li class="page-item @(pagina == Model.Pagina ? "active" : null)">
                <a class="page-link" href="@string.Format(plantillaLink, pagina, Model.RecordsPorPagina)">
                    @pagina
                </a>
            </li>
        }
        @if(Model.Pagina < Model.CantidadTotalDePaginas)
        { 
            <li class="page-item">
                <a class="page-link" href="@string.Format(plantillaLink, Model.Pagina + 1, Model.RecordsPorPagina)">
                    Siguiente
                </a>
            </li>
        } 
        else
        {
            <li class="page-item">
                <span class="page-link">
                    Siguiente
                </span>
            </li>
        }
    </ul>
</nav>