@model Categoria

@{
    ViewData["Title"] = "Crear categoría";
}

<h1>Crear categoría</h1>
<h5>La categoría nos permite indicar en qué gastamos nuestro dinero</h5>

<form asp-action="Crear">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label class="form-label" asp-for="Nombre"></label>
        <input class="form-control" type="text" asp-for="Nombre">
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="TipoOperacionId"></label>
        <select class="form-select" asp-for="TipoOperacionId" asp-items="Html.GetEnumSelectList<TipoOperacion>()"></select>
        <span asp-validation-for="TipoOperacionId" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Crear</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}